{% extends "home/base.html" %}
{% block content %}
<div class="container">
    {% include "home/nav.html" %}
    <div class="row clearfix">
        <div class="col-md-12 column">
        <h3>额度奖励/扣除记录</h3>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            额度
                        </th>
                        <th>
                            原因
                        </th>
                        <th>
                            详细说明
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                    </tr>
                    <tr class="error">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                    <ul class="pagination">
                        <li>
                                <a href="#">Prev</a>
                        </li>
                        <li>
                                <a href="#">1</a>
                        </li>
                        <li>
                                <a href="#">2</a>
                        </li>
                        <li>
                                <a href="#">3</a>
                        </li>
                        <li>
                                <a href="#">4</a>
                        </li>
                        <li>
                                <a href="#">5</a>
                        </li>
                        <li>
                                <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function(){
        $("nav li:nth-child(3)").addClass("active");
    });
</script>
{% endblock %}