<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='static/images/favicon.ico') }}">
  <title>CAS 考评系统</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='home/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

  <!-- 自定义样式表 -->
  <link href="{{ url_for('static', filename='home/css/cover.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">CAS</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">
                  <a href="#">首页</a>
                </li>
                <li>
                  <a href="{{ url_for('home.login') }}">登录</a>
                </li>
                <li>
                  <a href="#">退出</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">CAS 考评系统</h1>
          <p class="lead">欢迎使用中国科学院大学信息工程研究所第五研究室 CAS 组组内考评系统！</p>
          <p class="lead">
            <a href="http://www.iie.cas.cn/" class="btn btn-lg btn-default">iie-cas</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>CAS 考评系统 by ylhao
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ url_for('static', filename='home/js/ie10-viewport-bug-workaround.js') }}"></script>
</body>

</html>