<div class="col-md-3">
    <div class="list-group">
        <a id ="m-1" href="{{ url_for('home.user') }}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;用户中心
        </a>
        <a id="m-2" href="{{ url_for('home.pwd') }}" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码
        </a>
        <a id="m-3" href="{{ url_for('home.score') }}" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;得分记录
        </a>
        <a id="m-3" href="{{ url_for('home.fund') }}" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;额度记录
        </a>
    </div>
</div>