{% extends "home/base.html" %}

{% block content %}
<div class="container">
    {% include "home/nav.html" %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h3>
                    个人信息页
                </h3>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <label for="input_score"><span class=""></span>&nbsp;分数</label>
                        <input id="input_score" class="form-control" name="score" type="text" readonly unselectable="on" value="{{user.score}}">
                    </div>
                    <div class="form-group">
                        <label for="input_fund"><span class=""></span>&nbsp;额度</label>
                        <input id="input_fund" class="form-control" name="fund" type="text" readonly unselectable="on" value="{{user.fund}}">
                    </div>
                    <div class="form-group">
                        <label for="input_name"><span class=""></span>&nbsp;姓名</label>
                        <input id="input_name" class="form-control" name="name" type="text" readonly unselectable="on" value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="input_phone"><span class=""></span>&nbsp;手机</label>
                        <input id="input_phone" class="form-control" name="phone" type="text" autofocus value="{{user.telephone}}">
                    </div>
                    <div class="col-md-12" id="error_phone"></div>
                    <div class="form-group">
                        <label for="input_qq"><span class=""></span>&nbsp;QQ</label>
                        <input id="input_qq" class="form-control" name="qq" type="text" autofocus value="{{user.qq}}">
                    </div>
                    <div class="col-md-12" id="error_qq"></div>
                    <div class="form-group">
                        <label for="input_education"><span class=""></span>&nbsp;学历</label>
                        <input id="input_education" class="form-control" name="education" type="text" autofocus value="{{user.education}}">
                    </div>
                    <div class="col-md-12" id="error_education"></div>
                    <div class="form-group">
                        <label for="input_grade"><span class=""></span>&nbsp;年级</label>
                        <input id="input_grade" class="form-control" name="grade" type="text" autofocus value="{{user.grade}}">
                    </div>
                    <!-- <div class="form-group">
                        <label for="input_admtime"><span class="glyphicon glyphicon-calendar"></span>&nbsp;入学时间</label>
                        <input id="input_admtime" class="form-control" placeholder="入学时间" name="admtime" type="text" autofocus value="{{user.adm_time}}">
                    </div>
                    <div class="col-md-12" id="error_admtime"></div> -->
                    <a href="{{ url_for('home.user') }}" class="btn btn-success"><span class="glyphicon glyphicon-saved"></span>&nbsp;保存修改</a>
                    <a href="{{ url_for('home.pwd') }}" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function(){
        $("nav li:nth-child(1)").addClass("active");
    });
</script>
{% endblock %}