{% extends "admin/base.html" %}

{% block content %}
<h3 class="box-title">修改分数</h3>
<form role="form" action="{{ url_for('admin.score_edit', user_id=user.id) }}" method="post">
    <div class="form-group">
        <label for="input_account">账号</label>
        <input type="text" class="form-control" id="input_account" name="account" readonly unselectable="on" value="{{ user.account }}">
    </div>
    <div class="form-group">
        <label for="input_username">姓名</label>
        <input type="text" class="form-control" id="input_username" name="username" readonly unselectable="on" value="{{ user.username }}">
    </div>
    <div class="form-group">
        <label for="input_score">目前得分</label>
        <input type="text" class="form-control" id="input_score" name="current_score" readonly unselectable="on" value="{{ user.score }}">
    </div>
    <div class="form-group">
        <label for="input_tag_score">加/减分</label>
        <select class="form-control" id="input_tag_score" name="option">
            <option value="1">加分</option>
            <option value="2">减分</option>
        </select>
    </div>
    <div class="form-group">
        <label for="input_editscore">分值</label>
        {% for msg in get_flashed_messages() %}
        <p style="color:red">{{ msg }}</p>
        {% endfor %}
        <input type="text" class="form-control" id="input_editscore" name="edit_score" placeholder="请输入整数">
    </div>
    <div class="form-group">
        <label for="input_tag_score_reason">原因</label>
        <select class="form-control" id="input_tag_score_reason" name="option">
            {% for label in labels %}
            <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="input_edit_score_reason"><span class="glyphicon glyphicon-edit"></span>&nbsp;详细说明</label>
        <textarea class="form-control" rows="5" id="input_edit_score_reason" name="reason" placeholder="无详细说明"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">确认修改</button>
</form>
{% endblock %}

{% block js %}
{% endblock %}