{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>CAS考评管理系统</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i>考评管理</a>
        </li>
        <li class="active">修改分数</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">修改分数</h3>
                </div>
                <form role="form" action="{{ url_for('admin.score_edit', user_id=user.id) }}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="input_account">账号</label>
                            <input type="text" class="form-control" id="input_account" name="account" readonly unselectable="on" value="{{ user.account }}">
                        </div>
                        <div class="form-group">
                            <label for="input_username">姓名</label>
                            <input type="text" class="form-control" id="input_username" name="username" readonly unselectable="on" value="{{ user.username }}">
                        </div>
                        <div class="form-group">
                            <label for="input_score">目前得分</label>
                            <input type="text" class="form-control" id="input_score" name="current_score" readonly unselectable="on" value="{{ user.score }}">
                        </div>
                        <div class="form-group">
                            <label for="input_tag_score">加/减分</label>
                            <select class="form-control" id="input_tag_score" name="option">
                                <option value="1">加分</option>
                                <option value="2">减分</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input_editscore">分值</label>
                            {% for msg in get_flashed_messages() %}
                            <p style="color:red">{{ msg }}</p>
                            {% endfor %}
                            <input type="text" class="form-control" id="input_editscore" name="edit_score" placeholder="请输入整数">
                        </div>
                        <div class="form-group">
                            <label for="input_tag_score_reason">原因</label>
                            <select class="form-control" id="input_tag_score_reason" name="option">
                                {% for label in labels %}
                                <option value="{{ label.id }}">{{ label.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input_edit_score_reason"><span class="glyphicon glyphicon-edit"></span>&nbsp;详细说明</label>
                            <textarea class="form-control" rows="5" id="input_edit_score_reason" name="reason" placeholder="无详细说明"></textarea>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">确认修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">  
    $(function() {  
        //实现加法通过jquery  
       $('.SUM').bind('click', function() {  
         $.getJSON( '/_add_numbers', {  
           a: $('input[name="a"]').val(),  
           b: $('input[name="b"]').val()  
         }, function(data) {  
           $(".result").text(data.result);  
         });  
         return false;  
       });  
</script>  
{% endblock %}
