{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>CAS考评管理系统</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> 成员管理</a>
        </li>
        <li class="active">成员列表</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">成员列表</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="请输入关键字...">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>姓名</th>
                                <th>学历</th>
                                <th>年级</th>
                                <th>手机号码</th>
                                <th>QQ</th>
                                <th>入学时间</th>
                                <th>操作事项</th>
                            </tr>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.education }}</td>
                                <td>{{ user.grade }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.qq }}</td>
                                <td>{{ user.adm_time }}</td>
                                <td>
                                    <a class="label label-danger" href="{{ url_for('admin.user_delete', user_id=user.id)}}" onclick="javascript:del();">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">上一页</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">下一页</a>
                        </li>
                        <li>
                            <a href="#">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    function del() {
        var msg = "确定删除吗？";
        if (confirm(msg)==true){
            return true;
        } else {
            return false;
        }
    }
</script>
{% endblock %}