{% extends "admin/base.html" %}

{% block content %}
<table class="table table-hover">
    <tbody>
        <tr>
            <th>姓名</th>
            <th>学历</th>
            <th>年级</th>
            <th>手机号码</th>
            <th>QQ</th>
            <!-- <th>入学时间</th> -->
            <th>操作事项</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.education }}</td>
            <td>{{ user.grade }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.qq }}</td>
            <!-- <td>{{ user.adm_time }}</td> -->
            <td>
                <a class="label label-danger" href="{{ url_for('admin.user_delete', user_id=user.id)}}" onclick="javascript:del();">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
<script>
    function del() {
        var msg = "确定删除吗？";
        if (confirm(msg)==true){
            return true;
        } else {
            return false;
        }
    }

    $(function(){
        $("nav > li:nth-child(2)").addClass("active");
    });
</script>
{% endblock %}
